@model ArmyTechTask.ViewModels.NeighborhoodForm
@{
    ViewBag.Title = "CreateNeighborhood";
}

<h2>Create Neighborhood</h2>
@using (Html.BeginForm("CreateNeighborhood", "Govenorates"))
{
    <div class="form-group">
        @Html.LabelFor(n => n.Neighborhood.Name)
        @Html.TextBoxFor(n => n.Neighborhood.Name, new { @class = "form-control", placeholder = "Neighborhood Name" })
        @Html.ValidationMessageFor(n => n.Neighborhood.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(n => n.Neighborhood.Governorate)
        @Html.DropDownListFor(n => n.Neighborhood.GovernorateId, new SelectList(Model.governorates, "Id", "Name"), "Select Governorate", new { @class = "form-control", placeholder = "Neighborhood Name" })
        @Html.ValidationMessageFor(n => n.Neighborhood.GovernorateId)
    </div>

    <button class="btn btn-primary" type="submit"> Add</button>
}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}



