@model ArmyTechTask.ViewModels.NeighborhoodViewModel
@{
    ViewBag.Title = "CreateNeighborhood";
}

<h2>Create Neighborhood</h2>
@using (Html.BeginForm("CreateNeighborhood", "Govenorates"))
{
    <div class="form-group">
        @Html.LabelFor(n => n.Name)
        @Html.TextBoxFor(n => n.Name, new { @class = "form-control", placeholder = "Neighborhood Name" })
        @Html.ValidationMessageFor(n => n.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(n => n.Governorate)
        @Html.DropDownListFor(n => n.Governorate, (SelectList)ViewBag.govLst, "Select Governorate", new { @class = "form-control", placeholder = "Neighborhood Name" })
        @Html.ValidationMessageFor(n => n.Governorate)
    </div>

    <button class="btn btn-primary" type="submit"> Add</button>
}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}



